<h1>Sign Up Form</h1>

<form action="/register" method="POST">
  <input type="text" name="username" placeholder="username"a>
  <input type="password" name="password" placeholder="password"a>
  <button>Submit</button>
</form>
<% include partials/footer.ejs %>
