h1 {
  text-align: center;
}

table {
 margin: auto;
 border-collapse: collapse;
}

table td {
  width: 8em;
  height: 8em;
}

/* horizontal line of tic tac toe */
.horizontal {
  border-bottom: 1px solid black;
}

/* vertical line of tic tac toe */
.vertical {
  border-right: 1px solid black;
}
